# Compiled Python files
__pycache__/
*.pyc

# Virtual Environments
env/
venv/
.venv/
.conda/

# Windows metadata files
desktop.ini

# Notebook checkpoints
.ipynb_checkpoints/

# Data (Avoid uploading large datasets)
data/
*.csv
*.pth
*.pt

# Logs
*.log
logs/
experiments_logs/

# IDE settings
.vscode/
.idea/
